body {
}
.padding-0 {padding:0px;}
.padding-5{padding: 5px;}
.padding-left-0 {padding-left:0px;}
.padding-right-0 {padding-right:0px;}
.padding-0 {padding:0px;}
.margin-0 {margin:0px;}
.border-red {border: 1px solid red;border-radius: 2px;}
.bg-blue {background-color: #337ab7;}
.width-100 {width:100%;}
.float-right {float:right}
.hover-clr-black:hover{color:black;}
/*form:submited  input:invalid {
    border-color: red;
}*/
input,
input:valid {
    border-color: #ccc;
}
input:disabled {background: #ececec;cursor: not-allowed !important;}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
.sidebar-left {overflow:auto;}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b8c7ce; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
}

#frmEmployee label:not(.btn) {    padding: 10px 0px 0px 0px;}
#frmEmployee #imgEmployee , #frmCompany #imgCompany {min-height:130px;height:130px;max-width: 180px;}
#frmEmployee .form-group , #frmCompany .form-group, #frmEnquiry .form-group {margin-bottom:10px;}

#tblEnquiry td[id="*ID"] {display:none;}

/* Enquery */
hr {    margin-top: 5px;margin-bottom: 5px;}
#frmProject .form-group {    margin-bottom: 5px;}
/*.tags {border: 2px solid #2A3F54;padding: 10px;}
ul.tags {    padding: 0px;}
ul.tags li {display: inline-block;border: 1px solid #2A3F54;border-radius: 5px;padding: 2px 20px 2px 5px;position: relative;background-color: lightgray;margin: 1px;}
ul.tags li > span {position:absolute;right:2px;cursor:pointer;}*/

.checkbox-container {}

.dropdown-menu { padding: 0px !important; margin: 0px !important;}
ul.dropdown-menu a {line-height: 17px;}
ul.dropdown-menu a .checkbox-container {display:inline;}
.dropdown  button {text-align:left;border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
.tag-container {max-height:250px;}
ul.dropdown-menu li:hover {background:#337ab7;color:white;}
ul.dropdown-menu li:hover *:not(.hover-clr-black):not(span) {color:white;}
.tag-list {overflow:auto;}
.tag-list ul {list-style:none;max-height: 150px;overflow: auto;}

.tag-list ul li { margin: 1px;padding:2px 5px 2px 8px;border-radius:5px;text-align:left;
              background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 1%, rgba(156,197,229,1) 52%, rgba(32,124,202,1) 100%);
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 1%,rgba(156,197,229,1) 52%,rgba(32,124,202,1) 100%);
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 1%,rgba(156,197,229,1) 52%,rgba(32,124,202,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=0 );
}
.tag-list ul li span {color:white;font-family:cursive; float:right;cursor:pointer}

/*403 Page*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {text-align: center;font-size: 180px;font-family: 'Catamaran', sans-serif;font-weight: 800; margin: 20px 15px;}
.error-container > span {display: inline-block;line-height: 0.7;position: relative;color: #FFB485;}
.error-container > span {display: inline-block; position: relative; vertical-align: middle;}
.error-container > span:nth-of-type(1) {color: #D1F2A5;animation: colordancing 4s infinite;}
.error-container > span:nth-of-type(3) {color: #F56991;animation: colordancing2 4s infinite;}
.error-container > span:nth-of-type(2) {width: 120px;height: 120px;border-radius: 999px;}
.error-container > span:nth-of-type(2):before,.error-container > span:nth-of-type(2):after {
	border-radius: 0%;	content:"";	position: absolute;top: 0; left: 0;	width: inherit; height: inherit;  border-radius: 999px;	box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),inset 0 30px 0 rgba(239, 250, 180, 0.4),inset -30px 0 0 rgba(255, 196, 140, 0.4),	inset 0 -30px 0 rgba(245, 105, 145, 0.4); animation: shadowsdancing 4s infinite;}
.error-container > span:nth-of-type(2):before {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);
			transform: rotate(45deg);}
.screen-reader-text {position: absolute;top: -9999em;left: -9999em;}
@keyframes shadowsdancing { 0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	inset 0 -30px 0 rgba(245, 105, 145, 0.4); }
  25% { box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),inset 0 30px 0 rgba(209, 242, 165, 0.4),
				inset -30px 0 0 rgba(239, 250, 180, 0.4),	inset 0 -30px 0 rgba(255, 196, 140, 0.4); }
  50% { box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),inset 0 30px 0 rgba(245, 105, 145, 0.4),			inset -30px 0 0 rgba(209, 242, 165, 0.4),inset 0 -30px 0 rgba(239, 250, 180, 0.4); }
  75% {   box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
				inset 0 30px 0 rgba(255, 196, 140, 0.4),
				inset -30px 0 0 rgba(245, 105, 145, 0.4),	
				inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% { color: #D1F2A5; }
  25% { color: #F56991;  }
  50% {color: #FFC48C; }
  75% {color: #EFFAB4;}
  100% { color: #D1F2A5;}
}
@keyframes colordancing2 {
  0% {color: #FFC48C;}
  25% {color: #EFFAB4;}
  50% {color: #D1F2A5;}
  75% {color: #F56991;}
  100% {color: #FFC48C;}
}

/* demo stuff */
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body { background-color: #416475;}
html, button, input, select, textarea {  font-family: 'Montserrat', Helvetica, sans-serif;color: #92a4ad;}
h1 {text-align: center;}
.zoom-area { max-width: 490px;margin: 30px auto 30px;font-size: 19px;text-align: center;}
.link-container {text-align: center;}
a.more-link { text-transform: uppercase;font-size: 13px;background-color: #92a4ad; padding: 10px 15px; border-radius: 0;color: #416475;display: inline-block;margin-right: 5px;margin-bottom: 5px;line-height: 1.5; text-decoration: none;margin-top: 50px;letter-spacing: 1px;}
/*checkbox */
.checkbox-container {display: block;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;    font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
/* Hide the browser's default checkbox */
.checkbox-container input { position: absolute;opacity: 0;cursor: pointer;z-index: -1;}
/* Create a custom checkbox */
.checkmark {position: absolute;left: 0;height: 20px;width: 20px;background-color: #eee;}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark { background-color: #ccc;}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark { background-color: #2196F3;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: ""; position: absolute;display: none;}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after { left: 9px;top: 5px;width: 5px;height: 10px;border: solid white; border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.loading {    width: 100%;height: 100%;position: fixed;z-index: 111111111111;text-align: center;line-height: 100%;}
.loading > img {margin-top: 15%;width:150px;}
.checkbox-container ~ label {font-size : 18px;display :inline-block;vertical-align: text-top;margin-left: 25px;}
.dropdown-menu {max-height:300px;overflow:auto;}