@{
    ViewBag.Title = "_403";
    Layout = null;
}
<link href="~/Content/sms.css" rel="stylesheet" />
<h1>403 UnAuthorized</h1>
<p class="zoom-area"><b>Warning</b> You are not authorized for this action. </p>
<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>3</span>
</section>
<div class="link-container">
    <a target="_blank" href="@TempData["url"]/" class="more-link">Go back to the Application</a>
</div>

