USE [master]
GO
/****** Object:  Database [SMSDB]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE DATABASE [SMSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS14\MSSQL\DATA\SMSDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SMSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS14\MSSQL\DATA\SMSDB_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMSDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BankAccountTypes]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccountTypes](
	[BankAccountTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BankAccountTypeName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BankAccountTypes] PRIMARY KEY CLUSTERED 
(
	[BankAccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banks]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks](
	[BankID] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](max) NULL,
	[BranchName] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[ContactNumber] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[LocationID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Banks] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companies]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](70) NOT NULL,
	[Logo] [nvarchar](70) NULL,
	[EstablishmentDate] [datetime] NOT NULL,
	[EstablishedBy] [nvarchar](70) NOT NULL,
	[AssistedBy] [nvarchar](70) NULL,
	[RegistrationID] [nvarchar](max) NULL,
	[CountryID] [int] NOT NULL,
	[CompanyNumber] [nvarchar](70) NULL,
	[Currency] [nvarchar](10) NULL,
	[CompanyTypeID] [int] NULL,
	[CompanyStatusID] [int] NULL,
	[Address] [nvarchar](800) NULL,
	[ContactPerson] [nvarchar](70) NULL,
	[MobileNumber] [nvarchar](20) NULL,
	[OfficeNumber] [nvarchar](20) NULL,
	[TotalCapital] [real] NOT NULL,
	[TotalShares] [real] NOT NULL,
	[InitialValue] [real] NOT NULL,
	[CurrentValue] [real] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ParentCompanyID] [int] NULL,
	[LocationID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](70) NOT NULL,
	[ShortForm] [nvarchar](10) NULL,
	[Currency] [nvarchar](10) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[MobileNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[LocationID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designations]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[DesignationID] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Designations] PRIMARY KEY CLUSTERED 
(
	[DesignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Devices]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Display] [nvarchar](max) NULL,
	[Recorder] [nvarchar](max) NULL,
	[Media] [nvarchar](max) NULL,
	[Video] [nvarchar](max) NULL,
	[Audio] [nvarchar](max) NULL,
	[Power] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Devices] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](70) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[AttendenceReferenceID] [int] NULL,
	[BankID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[ShiftID] [int] NOT NULL,
	[DesignationID] [int] NOT NULL,
	[ReportingToID] [int] NULL,
	[DepartmentID] [int] NOT NULL,
	[WeeklyOff] [int] NULL,
	[QualificationDescription] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[MobileNumber] [nvarchar](20) NOT NULL,
	[FamilyContactNumber] [nvarchar](20) NULL,
	[ContactPersonName] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[ContactPersonRelationship] [nvarchar](50) NULL,
	[NationalityID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[RegionID] [int] NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](70) NULL,
	[DOB] [datetime] NOT NULL,
	[ActualDOB] [datetime] NOT NULL,
	[InternationalContactNumber] [nvarchar](20) NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[Status] [nvarchar](70) NOT NULL,
	[MedicalHistory] [nvarchar](max) NULL,
	[LeaveBalance] [real] NULL,
	[AccountNumber] [nvarchar](max) NULL,
	[JoiningDate] [datetime] NOT NULL,
	[BankAccountTypeID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Enquiries]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enquiries](
	[EnquiryID] [int] IDENTITY(1,1) NOT NULL,
	[EnquiryTime] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[FunctionDate] [datetime] NOT NULL,
	[DeviceID] [int] NOT NULL,
	[FunctionTypeID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
	[EnquiryTypeID] [int] NOT NULL,
	[Reference] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[EnquiryStatusID] [int] NOT NULL,
	[EnquiryDateTime] [datetime] NOT NULL,
	[MinCost] [decimal](18, 2) NOT NULL,
	[MaxCost] [decimal](18, 2) NOT NULL,
	[ChargeableCost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Enquiries] PRIMARY KEY CLUSTERED 
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryDeviceDetails]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryDeviceDetails](
	[EnquiryDeviceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceID] [int] NOT NULL,
	[EnquiryID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnquiryDeviceDetails] PRIMARY KEY CLUSTERED 
(
	[EnquiryDeviceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryEmpDetails]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryEmpDetails](
	[EnquiryEmpDetailID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[EnquiryID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnquiryEmpDetails] PRIMARY KEY CLUSTERED 
(
	[EnquiryEmpDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryJobDetails]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryJobDetails](
	[EnquiryJobDetailID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[EnquiryID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnquiryJobDetails] PRIMARY KEY CLUSTERED 
(
	[EnquiryJobDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquirySkillDetails]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquirySkillDetails](
	[EnquirySkillDetailID] [int] IDENTITY(1,1) NOT NULL,
	[SkillID] [int] NOT NULL,
	[EnquiryID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnquirySkillDetails] PRIMARY KEY CLUSTERED 
(
	[EnquirySkillDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryStatus]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryStatus](
	[EnquiryStatusID] [int] IDENTITY(1,1) NOT NULL,
	[EnquiryStatusName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnquiryStatus] PRIMARY KEY CLUSTERED 
(
	[EnquiryStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryStatusDetails]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryStatusDetails](
	[EnquiryStatusDetailID] [int] IDENTITY(1,1) NOT NULL,
	[EnquiryStatusID] [int] NOT NULL,
	[EnquiryID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnquiryStatusDetails] PRIMARY KEY CLUSTERED 
(
	[EnquiryStatusDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnquiryTypes]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnquiryTypes](
	[EnquiryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EnquiryTypeName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EnquiryTypes] PRIMARY KEY CLUSTERED 
(
	[EnquiryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventAccesses]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventAccesses](
	[EventAccessID] [int] IDENTITY(1,1) NOT NULL,
	[EventAccessName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.EventAccesses] PRIMARY KEY CLUSTERED 
(
	[EventAccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FunctionTypes]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionTypes](
	[FunctionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[FunctionTypeName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.FunctionTypes] PRIMARY KEY CLUSTERED 
(
	[FunctionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Interfaces]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interfaces](
	[InterfaceID] [int] IDENTITY(1,1) NOT NULL,
	[ParentInterfaceID] [int] NULL,
	[InterfaceName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Interfaces] PRIMARY KEY CLUSTERED 
(
	[InterfaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Jobs] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[NationalityID] [int] IDENTITY(1,1) NOT NULL,
	[NationalityName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Nationalities] PRIMARY KEY CLUSTERED 
(
	[NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](max) NULL,
	[EnquiryID] [int] NOT NULL,
	[ProjectDateTime] [datetime] NOT NULL,
	[JobID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[HoursRequired] [float] NOT NULL,
	[ActualCost] [float] NOT NULL,
	[MaxCost] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[ChargeableAmount] [float] NOT NULL,
	[NoOfUnits] [float] NOT NULL,
	[TotalCost] [float] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectStatus]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatus](
	[ProjectStatusID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectStatusName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProjectStatus] PRIMARY KEY CLUSTERED 
(
	[ProjectStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Religions]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religions](
	[ReligionID] [int] IDENTITY(1,1) NOT NULL,
	[ReligionName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Religions] PRIMARY KEY CLUSTERED 
(
	[ReligionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleAccesses]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccesses](
	[RoleAccessID] [int] IDENTITY(1,1) NOT NULL,
	[InterfaceID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[EventAccessID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RoleAccesses] PRIMARY KEY CLUSTERED 
(
	[RoleAccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [nvarchar](70) NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[BreakStartTime] [time](7) NOT NULL,
	[BreakEndTime] [time](7) NOT NULL,
	[TotalTime] [time](7) NOT NULL,
	[TotalBreakHours] [time](7) NOT NULL,
	[TotalWorkingHours] [time](7) NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Shifts] PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skills]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](max) NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Skills] PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/27/2018 10:30:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RoleID] [int] NOT NULL,
	[CreatedByID] [int] NOT NULL,
	[CreatedByDate] [datetime] NOT NULL,
	[UpdatedByID] [int] NULL,
	[updatedByDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BankAccountTypes] ON 

INSERT [dbo].[BankAccountTypes] ([BankAccountTypeID], [BankAccountTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Currenty Account', 0, CAST(N'2018-07-21 12:09:54.977' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[BankAccountTypes] ([BankAccountTypeID], [BankAccountTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Saving Account', 0, CAST(N'2018-07-21 12:10:03.760' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[BankAccountTypes] ([BankAccountTypeID], [BankAccountTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (3, NULL, 0, CAST(N'2018-07-21 12:10:53.957' AS DateTime), 0, CAST(N'2018-07-21 12:15:15.337' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[BankAccountTypes] OFF
SET IDENTITY_INSERT [dbo].[Banks] ON 

INSERT [dbo].[Banks] ([BankID], [BankName], [BranchName], [ContactPerson], [ContactNumber], [Address], [LocationID], [CountryID], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Mashreeq', NULL, N'John Smith', N'34234234234', N'Dubai', 1, 1, 0, CAST(N'2018-07-21 12:32:04.700' AS DateTime), 0, CAST(N'2018-07-21 12:43:58.337' AS DateTime), NULL, 1)
INSERT [dbo].[Banks] ([BankID], [BankName], [BranchName], [ContactPerson], [ContactNumber], [Address], [LocationID], [CountryID], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'ADCB', N'Bur Dubai', N'John Doe', N'3434234', N'Dubai', 1, 1, 0, CAST(N'2018-07-21 12:32:52.567' AS DateTime), 0, CAST(N'2018-07-21 12:43:42.890' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Banks] OFF
SET IDENTITY_INSERT [dbo].[Companies] ON 

SET IDENTITY_INSERT [dbo].[Companies] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName], [ShortForm], [Currency], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'India', N'Ind', N'INR', 0, CAST(N'2018-07-21 11:36:29.463' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Countries] ([CountryID], [CountryName], [ShortForm], [Currency], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Pakistan23', N'PK', N'PKR', 0, CAST(N'2018-07-21 11:36:48.977' AS DateTime), 0, CAST(N'2018-07-21 11:37:48.977' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [PhoneNumber], [MobileNumber], [Email], [Address], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted], [LocationID], [CountryID]) VALUES (11, N'John smith', N'34234234', N'3423434', N'john@gmail.com', N'dubai', 0, CAST(N'2018-07-22 18:47:08.207' AS DateTime), NULL, NULL, NULL, 0, 1, 1)
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [PhoneNumber], [MobileNumber], [Email], [Address], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted], [LocationID], [CountryID]) VALUES (12, N'methow', N'42342343444', N'423423434', N'methow@gmail.com', N'dubai', 0, CAST(N'2018-07-22 18:48:56.300' AS DateTime), 0, CAST(N'2018-07-22 19:37:21.807' AS DateTime), NULL, 1, 1, 1)
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [PhoneNumber], [MobileNumber], [Email], [Address], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted], [LocationID], [CountryID]) VALUES (14, N'bret leo', N'3423432', N'432423', N'test@test.com', N'dubai', 20, CAST(N'2018-07-26 20:08:35.520' AS DateTime), NULL, NULL, NULL, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Finance', 0, CAST(N'2018-07-21 10:09:25.837' AS DateTime), NULL, NULL, N'Finance Department', 0)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Admin', 0, CAST(N'2018-07-21 10:09:47.233' AS DateTime), 0, CAST(N'2018-07-21 10:17:47.517' AS DateTime), N'Admin Department', 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([DesignationID], [DesignationName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Finance Manager', 0, CAST(N'2018-07-21 10:24:16.877' AS DateTime), NULL, NULL, N'Finance Head', 0)
INSERT [dbo].[Designations] ([DesignationID], [DesignationName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Accountant2', 0, CAST(N'2018-07-21 10:26:05.770' AS DateTime), 0, CAST(N'2018-07-21 10:32:08.667' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([DeviceID], [DeviceName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted], [Display], [Recorder], [Media], [Video], [Audio], [Power]) VALUES (1, NULL, 19, CAST(N'2018-07-12 15:47:09.660' AS DateTime), 19, CAST(N'2018-07-12 15:52:25.673' AS DateTime), NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Devices] ([DeviceID], [DeviceName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted], [Display], [Recorder], [Media], [Video], [Audio], [Power]) VALUES (2, N'device 11', 19, CAST(N'2018-07-12 15:52:50.593' AS DateTime), 0, CAST(N'2018-07-22 17:57:32.060' AS DateTime), NULL, 1, N'test', N'test', N'testr', N'test', N'test', N'test')
INSERT [dbo].[Devices] ([DeviceID], [DeviceName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted], [Display], [Recorder], [Media], [Video], [Audio], [Power]) VALUES (3, N'Sony 1458', 0, CAST(N'2018-07-22 17:56:58.343' AS DateTime), NULL, NULL, NULL, 0, N'1080*1920', N'24 Mp', N'24 Mp', N'24 Mp', N'3D', N'80000')
SET IDENTITY_INSERT [dbo].[Devices] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[EnquiryStatus] ON 

INSERT [dbo].[EnquiryStatus] ([EnquiryStatusID], [EnquiryStatusName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Information Collected', 0, CAST(N'2018-07-22 15:57:18.187' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[EnquiryStatus] ([EnquiryStatusID], [EnquiryStatusName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Information Collected 22', 0, CAST(N'2018-07-22 15:57:31.133' AS DateTime), 0, CAST(N'2018-07-22 15:57:42.440' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[EnquiryStatus] OFF
SET IDENTITY_INSERT [dbo].[EnquiryTypes] ON 

INSERT [dbo].[EnquiryTypes] ([EnquiryTypeID], [EnquiryTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'WalkIn', 0, CAST(N'2018-07-22 15:35:30.690' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[EnquiryTypes] ([EnquiryTypeID], [EnquiryTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'test 3432432', 0, CAST(N'2018-07-22 15:36:07.443' AS DateTime), 0, CAST(N'2018-07-22 15:44:27.147' AS DateTime), NULL, 1)
INSERT [dbo].[EnquiryTypes] ([EnquiryTypeID], [EnquiryTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (3, N'test', 0, CAST(N'2018-07-22 15:36:16.003' AS DateTime), 0, CAST(N'2018-07-22 15:44:20.703' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[EnquiryTypes] OFF
SET IDENTITY_INSERT [dbo].[EventAccesses] ON 

INSERT [dbo].[EventAccesses] ([EventAccessID], [EventAccessName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'AllowAdd', 0, CAST(N'2018-02-02 00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[EventAccesses] ([EventAccessID], [EventAccessName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'AllowEdit', 0, CAST(N'2018-02-02 00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[EventAccesses] ([EventAccessID], [EventAccessName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (3, N'AllowDelete', 0, CAST(N'2018-02-02 00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[EventAccesses] OFF
SET IDENTITY_INSERT [dbo].[FunctionTypes] ON 

INSERT [dbo].[FunctionTypes] ([FunctionTypeID], [FunctionTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'test function first2222', 0, CAST(N'2018-07-10 19:06:50.153' AS DateTime), 0, CAST(N'2018-07-22 15:25:38.937' AS DateTime), NULL, 0)
INSERT [dbo].[FunctionTypes] ([FunctionTypeID], [FunctionTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, NULL, 0, CAST(N'2018-07-10 19:07:51.987' AS DateTime), 19, CAST(N'2018-07-12 15:04:22.977' AS DateTime), NULL, 1)
INSERT [dbo].[FunctionTypes] ([FunctionTypeID], [FunctionTypeName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (3, N'test function', 0, CAST(N'2018-07-10 19:09:35.423' AS DateTime), 19, CAST(N'2018-07-12 15:33:19.377' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[FunctionTypes] OFF
SET IDENTITY_INSERT [dbo].[Interfaces] ON 

INSERT [dbo].[Interfaces] ([InterfaceID], [ParentInterfaceID], [InterfaceName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, NULL, N'Masters', 0, CAST(N'2018-07-24 00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Interfaces] ([InterfaceID], [ParentInterfaceID], [InterfaceName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, 1, N'Employeee', 0, CAST(N'2018-07-24 19:29:08.567' AS DateTime), 0, CAST(N'2018-07-24 19:29:31.540' AS DateTime), NULL, 0)
INSERT [dbo].[Interfaces] ([InterfaceID], [ParentInterfaceID], [InterfaceName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (3, 1, N'Role', 20, CAST(N'2018-07-26 18:59:55.003' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Interfaces] OFF
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([JobID], [JobName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, NULL, 0, CAST(N'2018-07-22 16:55:35.717' AS DateTime), 0, CAST(N'2018-07-22 17:10:18.717' AS DateTime), NULL, 1)
INSERT [dbo].[Jobs] ([JobID], [JobName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Photographer', 0, CAST(N'2018-07-22 17:10:27.783' AS DateTime), 0, CAST(N'2018-07-22 17:11:54.613' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [LocationName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Karama', 0, CAST(N'2018-07-21 10:41:45.777' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Locations] ([LocationID], [LocationName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Al-Quoz1', 0, CAST(N'2018-07-21 10:42:02.000' AS DateTime), 0, CAST(N'2018-07-21 10:42:21.547' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[Nationalities] ON 

INSERT [dbo].[Nationalities] ([NationalityID], [NationalityName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Emarati', 0, CAST(N'2018-07-21 11:40:00.777' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Nationalities] ([NationalityID], [NationalityName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Indian3', 0, CAST(N'2018-07-21 11:40:06.483' AS DateTime), 0, CAST(N'2018-07-21 11:40:20.430' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Nationalities] OFF
SET IDENTITY_INSERT [dbo].[ProjectStatus] ON 

INSERT [dbo].[ProjectStatus] ([ProjectStatusID], [ProjectStatusName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'In Process', 0, CAST(N'2018-07-22 16:08:55.537' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[ProjectStatus] ([ProjectStatusID], [ProjectStatusName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'In Process21', 0, CAST(N'2018-07-22 16:09:05.357' AS DateTime), 0, CAST(N'2018-07-22 16:12:50.257' AS DateTime), NULL, 1)
INSERT [dbo].[ProjectStatus] ([ProjectStatusID], [ProjectStatusName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (3, NULL, 0, CAST(N'2018-07-22 16:11:09.480' AS DateTime), 0, CAST(N'2018-07-22 16:12:42.377' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[ProjectStatus] OFF
SET IDENTITY_INSERT [dbo].[Religions] ON 

INSERT [dbo].[Religions] ([ReligionID], [ReligionName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Christan', 0, CAST(N'2018-07-21 11:35:40.543' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Religions] ([ReligionID], [ReligionName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Hindu2', 0, CAST(N'2018-07-21 11:35:54.040' AS DateTime), 0, CAST(N'2018-07-21 11:36:07.453' AS DateTime), NULL, 1)
INSERT [dbo].[Religions] ([ReligionID], [ReligionName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (3, NULL, 0, CAST(N'2018-07-23 17:50:25.597' AS DateTime), NULL, NULL, N'Shift', 0)
SET IDENTITY_INSERT [dbo].[Religions] OFF
SET IDENTITY_INSERT [dbo].[RoleAccesses] ON 

INSERT [dbo].[RoleAccesses] ([RoleAccessID], [InterfaceID], [RoleID], [EventAccessID], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (5, 1, 4, 1, 20, CAST(N'2018-07-26 18:43:45.037' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[RoleAccesses] ([RoleAccessID], [InterfaceID], [RoleID], [EventAccessID], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (6, 1, 4, 2, 20, CAST(N'2018-07-26 18:43:45.037' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[RoleAccesses] ([RoleAccessID], [InterfaceID], [RoleID], [EventAccessID], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (7, 1, 4, 3, 20, CAST(N'2018-07-26 18:43:45.037' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[RoleAccesses] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (4, N'Admin', 1, CAST(N'2018-05-07 00:00:00.000' AS DateTime), 0, CAST(N'2018-05-07 00:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (5, N'Manager1', 19, CAST(N'2018-07-12 17:22:34.347' AS DateTime), 19, CAST(N'2018-07-12 17:58:44.510' AS DateTime), N'Manager Role', 1)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (6, N'Employee', 0, CAST(N'2018-07-24 18:55:36.220' AS DateTime), NULL, NULL, N'Employee Role', 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([ShiftID], [ShiftName], [StartTime], [EndTime], [BreakStartTime], [BreakEndTime], [TotalTime], [TotalBreakHours], [TotalWorkingHours], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (1, N'Morning', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), CAST(N'09:00:00' AS Time), CAST(N'01:00:00' AS Time), CAST(N'08:00:00' AS Time), 0, CAST(N'2018-07-23 17:57:14.267' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Shifts] ([ShiftID], [ShiftName], [StartTime], [EndTime], [BreakStartTime], [BreakEndTime], [TotalTime], [TotalBreakHours], [TotalWorkingHours], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (2, N'Evening', CAST(N'14:00:00' AS Time), CAST(N'23:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'19:00:00' AS Time), CAST(N'09:00:00' AS Time), CAST(N'01:00:00' AS Time), CAST(N'07:00:00' AS Time), 0, CAST(N'2018-07-23 17:58:46.313' AS DateTime), 0, CAST(N'2018-07-23 18:07:09.453' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Shifts] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillID], [SkillName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (11, NULL, 0, CAST(N'2018-07-22 16:15:52.883' AS DateTime), 0, CAST(N'2018-07-22 16:54:07.480' AS DateTime), NULL, 1)
INSERT [dbo].[Skills] ([SkillID], [SkillName], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (12, N'Photographer-HD', 0, CAST(N'2018-07-22 16:54:02.207' AS DateTime), 0, CAST(N'2018-07-22 16:55:58.383' AS DateTime), N' ', 0)
SET IDENTITY_INSERT [dbo].[Skills] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [EmployeeID], [UserName], [Password], [RoleID], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (20, 11, N'admin', N'z99gaLf0mnE=', 4, 0, CAST(N'2018-07-24 18:30:01.877' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Users] ([UserID], [EmployeeID], [UserName], [Password], [RoleID], [CreatedByID], [CreatedByDate], [UpdatedByID], [updatedByDate], [Remarks], [IsDeleted]) VALUES (21, 11, N'Employe', N'z99gaLf0mnE=', 4, 0, CAST(N'2018-07-24 18:35:43.463' AS DateTime), 0, CAST(N'2018-07-24 18:52:32.670' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_CountryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Banks]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocationID] ON [dbo].[Banks]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Companies]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocationID] ON [dbo].[Companies]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentCompanyID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParentCompanyID] ON [dbo].[Companies]
(
	[ParentCompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Customers]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LocationID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_LocationID] ON [dbo].[Customers]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BankAccountTypeID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_BankAccountTypeID] ON [dbo].[Employees]
(
	[BankAccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BankID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_BankID] ON [dbo].[Employees]
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyID] ON [dbo].[Employees]
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[Employees]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentID] ON [dbo].[Employees]
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DesignationID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DesignationID] ON [dbo].[Employees]
(
	[DesignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NationalityID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_NationalityID] ON [dbo].[Employees]
(
	[NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShiftID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ShiftID] ON [dbo].[Employees]
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerID] ON [dbo].[Enquiries]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceID] ON [dbo].[Enquiries]
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryStatusID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryStatusID] ON [dbo].[Enquiries]
(
	[EnquiryStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryTypeID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryTypeID] ON [dbo].[Enquiries]
(
	[EnquiryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FunctionTypeID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_FunctionTypeID] ON [dbo].[Enquiries]
(
	[FunctionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobID] ON [dbo].[Enquiries]
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkillID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkillID] ON [dbo].[Enquiries]
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeviceID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeviceID] ON [dbo].[EnquiryDeviceDetails]
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryID] ON [dbo].[EnquiryDeviceDetails]
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeID] ON [dbo].[EnquiryEmpDetails]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryID] ON [dbo].[EnquiryEmpDetails]
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryID] ON [dbo].[EnquiryJobDetails]
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobID] ON [dbo].[EnquiryJobDetails]
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryID] ON [dbo].[EnquirySkillDetails]
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SkillID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_SkillID] ON [dbo].[EnquirySkillDetails]
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryID] ON [dbo].[EnquiryStatusDetails]
(
	[EnquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EnquiryStatusID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EnquiryStatusID] ON [dbo].[EnquiryStatusDetails]
(
	[EnquiryStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentInterfaceID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_ParentInterfaceID] ON [dbo].[Interfaces]
(
	[ParentInterfaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeID] ON [dbo].[Projects]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobID] ON [dbo].[Projects]
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeID] ON [dbo].[Users]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleID]    Script Date: 7/27/2018 10:30:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleID] ON [dbo].[Users]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ((0)) FOR [LocationID]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [LocationID]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [CountryID]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [BankID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [CompanyID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [ShiftID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [DesignationID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [DepartmentID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('') FOR [MobileNumber]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [NationalityID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [CountryID]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('') FOR [Gender]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DOB]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ActualDOB]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('') FOR [Status]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [JoiningDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [BankAccountTypeID]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [EnquiryStatusID]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [EnquiryDateTime]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [MinCost]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [MaxCost]
GO
ALTER TABLE [dbo].[Enquiries] ADD  DEFAULT ((0)) FOR [ChargeableCost]
GO
ALTER TABLE [dbo].[EnquiryStatus] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EnquiryTypes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[FunctionTypes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProjectStatus] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Banks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Banks_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Banks] CHECK CONSTRAINT [FK_dbo.Banks_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Banks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Banks_dbo.Locations_LocationID] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Banks] CHECK CONSTRAINT [FK_dbo.Banks_dbo.Locations_LocationID]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Companies_dbo.Companies_ParentCompanyID] FOREIGN KEY([ParentCompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_dbo.Companies_dbo.Companies_ParentCompanyID]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Companies_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_dbo.Companies_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Companies_dbo.Locations_LocationID] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_dbo.Companies_dbo.Locations_LocationID]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.Locations_LocationID] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.Locations_LocationID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.BankAccountTypes_BankAccountTypeID] FOREIGN KEY([BankAccountTypeID])
REFERENCES [dbo].[BankAccountTypes] ([BankAccountTypeID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.BankAccountTypes_BankAccountTypeID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Banks_BankID] FOREIGN KEY([BankID])
REFERENCES [dbo].[Banks] ([BankID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Banks_BankID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Companies_CompanyID] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Companies_CompanyID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Countries_CountryID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentID] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Departments_DepartmentID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Designations_DesignationID] FOREIGN KEY([DesignationID])
REFERENCES [dbo].[Designations] ([DesignationID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Designations_DesignationID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Nationalities_NationalityID] FOREIGN KEY([NationalityID])
REFERENCES [dbo].[Nationalities] ([NationalityID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Nationalities_NationalityID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Shifts_ShiftID] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shifts] ([ShiftID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Shifts_ShiftID]
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Enquiries_dbo.Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enquiries] CHECK CONSTRAINT [FK_dbo.Enquiries_dbo.Customers_CustomerID]
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Enquiries_dbo.Devices_DeviceID] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enquiries] CHECK CONSTRAINT [FK_dbo.Enquiries_dbo.Devices_DeviceID]
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Enquiries_dbo.EnquiryStatus_EnquiryStatusID] FOREIGN KEY([EnquiryStatusID])
REFERENCES [dbo].[EnquiryStatus] ([EnquiryStatusID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enquiries] CHECK CONSTRAINT [FK_dbo.Enquiries_dbo.EnquiryStatus_EnquiryStatusID]
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Enquiries_dbo.EnquiryTypes_EnquiryTypeID] FOREIGN KEY([EnquiryTypeID])
REFERENCES [dbo].[EnquiryTypes] ([EnquiryTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enquiries] CHECK CONSTRAINT [FK_dbo.Enquiries_dbo.EnquiryTypes_EnquiryTypeID]
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Enquiries_dbo.FunctionTypes_FunctionTypeID] FOREIGN KEY([FunctionTypeID])
REFERENCES [dbo].[FunctionTypes] ([FunctionTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enquiries] CHECK CONSTRAINT [FK_dbo.Enquiries_dbo.FunctionTypes_FunctionTypeID]
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Enquiries_dbo.Jobs_JobID] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([JobID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enquiries] CHECK CONSTRAINT [FK_dbo.Enquiries_dbo.Jobs_JobID]
GO
ALTER TABLE [dbo].[Enquiries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Enquiries_dbo.Skills_SkillID] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enquiries] CHECK CONSTRAINT [FK_dbo.Enquiries_dbo.Skills_SkillID]
GO
ALTER TABLE [dbo].[EnquiryDeviceDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryDeviceDetails_dbo.Devices_DeviceID] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[EnquiryDeviceDetails] CHECK CONSTRAINT [FK_dbo.EnquiryDeviceDetails_dbo.Devices_DeviceID]
GO
ALTER TABLE [dbo].[EnquiryDeviceDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryDeviceDetails_dbo.Enquiries_EnquiryID] FOREIGN KEY([EnquiryID])
REFERENCES [dbo].[Enquiries] ([EnquiryID])
GO
ALTER TABLE [dbo].[EnquiryDeviceDetails] CHECK CONSTRAINT [FK_dbo.EnquiryDeviceDetails_dbo.Enquiries_EnquiryID]
GO
ALTER TABLE [dbo].[EnquiryEmpDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryEmpDetails_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[EnquiryEmpDetails] CHECK CONSTRAINT [FK_dbo.EnquiryEmpDetails_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[EnquiryEmpDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryEmpDetails_dbo.Enquiries_EnquiryID] FOREIGN KEY([EnquiryID])
REFERENCES [dbo].[Enquiries] ([EnquiryID])
GO
ALTER TABLE [dbo].[EnquiryEmpDetails] CHECK CONSTRAINT [FK_dbo.EnquiryEmpDetails_dbo.Enquiries_EnquiryID]
GO
ALTER TABLE [dbo].[EnquiryJobDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryJobDetails_dbo.Enquiries_EnquiryID] FOREIGN KEY([EnquiryID])
REFERENCES [dbo].[Enquiries] ([EnquiryID])
GO
ALTER TABLE [dbo].[EnquiryJobDetails] CHECK CONSTRAINT [FK_dbo.EnquiryJobDetails_dbo.Enquiries_EnquiryID]
GO
ALTER TABLE [dbo].[EnquiryJobDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryJobDetails_dbo.Jobs_JobID] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([JobID])
GO
ALTER TABLE [dbo].[EnquiryJobDetails] CHECK CONSTRAINT [FK_dbo.EnquiryJobDetails_dbo.Jobs_JobID]
GO
ALTER TABLE [dbo].[EnquirySkillDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquirySkillDetails_dbo.Enquiries_EnquiryID] FOREIGN KEY([EnquiryID])
REFERENCES [dbo].[Enquiries] ([EnquiryID])
GO
ALTER TABLE [dbo].[EnquirySkillDetails] CHECK CONSTRAINT [FK_dbo.EnquirySkillDetails_dbo.Enquiries_EnquiryID]
GO
ALTER TABLE [dbo].[EnquirySkillDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquirySkillDetails_dbo.Skills_SkillID] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[EnquirySkillDetails] CHECK CONSTRAINT [FK_dbo.EnquirySkillDetails_dbo.Skills_SkillID]
GO
ALTER TABLE [dbo].[EnquiryStatusDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryStatusDetails_dbo.Enquiries_EnquiryID] FOREIGN KEY([EnquiryID])
REFERENCES [dbo].[Enquiries] ([EnquiryID])
GO
ALTER TABLE [dbo].[EnquiryStatusDetails] CHECK CONSTRAINT [FK_dbo.EnquiryStatusDetails_dbo.Enquiries_EnquiryID]
GO
ALTER TABLE [dbo].[EnquiryStatusDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnquiryStatusDetails_dbo.EnquiryStatus_EnquiryStatusID] FOREIGN KEY([EnquiryStatusID])
REFERENCES [dbo].[EnquiryStatus] ([EnquiryStatusID])
GO
ALTER TABLE [dbo].[EnquiryStatusDetails] CHECK CONSTRAINT [FK_dbo.EnquiryStatusDetails_dbo.EnquiryStatus_EnquiryStatusID]
GO
ALTER TABLE [dbo].[Interfaces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Interfaces_dbo.Interfaces_ParentInterfaceID] FOREIGN KEY([ParentInterfaceID])
REFERENCES [dbo].[Interfaces] ([InterfaceID])
GO
ALTER TABLE [dbo].[Interfaces] CHECK CONSTRAINT [FK_dbo.Interfaces_dbo.Interfaces_ParentInterfaceID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Projects_dbo.Jobs_JobID] FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([JobID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_dbo.Projects_dbo.Jobs_JobID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID]
GO
USE [master]
GO
